<!-- Header -->
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td style="text-align:center;">
                <img height="80px" src="{LOGO_HEADER}" />
            </td>
        </tr>
    </tbody>
</table>
<!-- Content -->

<p style="font-size:16px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;"><strong>{COMPANY_NAME}</strong></p>
<p style="font-size:18px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;"><strong>ATTESTATION DE SUIVI DE FORMATION</strong></p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">Je soussigné, Sylvain PEYRATOUT, Directeur du Centre Régionale de Formation des Professionnels de l’Enfance (CRFPE), atteste, par la présente, que </p>
{STUDENTS}
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">A participé à la formation :</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:16px;text-align: center;"><strong>{AF_TITLE}</strong></p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">Durée de la formation suivie: {NB_THEO_HOURS} heures théoriques et {NB_PRACTICAL_HOURS} heures de formation pratiques</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">Lieu de la formation : {AF_LIEU_FORMATION}</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">Date(s) et horaire(s) de la formation : </p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">{HTML_AF_RECAP_SEANCES}</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">{HTML_EXTRA_1_STAGIAIRE}</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">Pour rappel, les objectifs de la formation sont :</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">{AF_OBJECTIFS}</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">Nature de l’action : l’action de formation entre dans la catégorie des actions prévues à l’article L63-13.1 du Code du Travail.</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">{HTML_EXTRA_2_STAGIAIRE}</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">{HTML_EXTRA_3_STAGIAIRE}</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">La présente attestation est délivrée pour servir et faire valoir ce que de droit.</p>
<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;text-align: justify;">Fait à Lille, le {DATE_NOW}</p>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>
            <td
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;height: 155px;vertical-align:top;">
            </td>
            <td style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
                <div
                    style="width: 220px;height: 140px;padding: 6px;text-align: left;float: right;position: absolute;">
                    <p><strong>Sylvain PEYRATOUT</strong></p>
                    <p><strong>Directeur</strong></p>
                    <p>
                        <img height="70px" src="{SIGNATURE}" />
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<!-- FOOTER -->
<table>
    <tbody>
        <tr>
            <td style="width:4cm;">
                <img width="280px" src="{LOGO_FOOTER}" />
            </td>
            <td style="width:9.4cm;">
                <p class="footer-text">{ADRESS_FOOTER}</p>
                <p class="footer-text">
                    Tél : {PHONE_FOOTER} • Fax : {FAX_FOOTER}
                </p>
                <p class="footer-text">{EMAIL_FOOTER} • {WEBSITE_FOOTER}</p>
                <p class="footer-text">Siret {SIRET_FOOTER}</p>
            </td>
        </tr>
    </tbody>
</table>
