<style>
    .p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:12px;
    }
</style>
<p style="text-align: center;color:#0070c0;"><strong>{DOCUMENT_TITLE}</strong></p>
<p style="color:#0070c0;"><strong>{AF_TITLE}</strong></p>
<p style="color:#bf0000;"><strong>Objectifs de la formation :</strong></p> 
<p>{AF_OBJECTIFS}</p>
<p style="color:#bf0000;"><strong>Contenu de la formation : </strong></p>
<p>{AF_CONTENT}</p>
<p style="color:#bf0000;"><strong>Modalités pédagogiques : </strong></p>
<p>{AF_MODALITE_PEDAGOGIQUES}</p>
<p style="color:#ec9977;"><strong>Modalités d’accès : </strong></p>
<p>{AF_MODALITE_ACCES}</p>
<p style="color:#ec9977;"><strong>Modalités d’évaluation : </strong></p>
<p>{AF_MODALITE_EVALUATION}</p>
<p style="color:#ec9977;"><strong>Moyens mis à disposition : </strong></p>
<p>{AF_MODALITE_MOYENS_DISPOSITION}</p>
<p style="color:#ec9977;"><strong>Pré-requis : </strong></p>
<p>{AF_PRE_REQUIS}</p>
<p style="color:#0070c0;"><strong>Durée de la formation : </strong></p>
<p>Formation théorique : {NB_THEO_DAYS} jours / {NB_THEO_HOURS} heures</p>
<p>Formation pratique : {NB_PRACTICAL_DAYS} jours / {NB_PRACTICAL_HOURS} heures</p>
<p style="color:#0070c0;"><strong>Profil des intervenants : </strong></p>
<p>{AF_PROFIL_INTERVENANTS}</p>
<p><strong>Référence de l’action de formation :</strong>{AF_CODE} </p>