<!-- Header -->
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td style="text-align:center;">
                <img height="80px" src="{LOGO_HEADER}" />
            </td>
        </tr>
    </tbody>
</table>
<!-- Content -->
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td
                colspan="2"
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:16px;"
            >
                <p style="text-transform: uppercase;">
                    <strong>{COMPANY_NAME}</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
            >
                <p style="margin: 0px;">{COMPANY_ADDRESS_LINE_1}</p>
                <p style="margin: 0px;">CS {COMPANY_CS}</p>
                <p style="margin: 0px;">
                    {COMPANY_ZIPCODE} {COMPANY_CITY} CEDEX
                </p>
                <p style="margin: 0px;">Tel : {COMPANY_PHONE}</p>
                <p style="margin: 0px;">{COMPANY_ESTIMATE_EMAIL}</p>
                <p style="margin: 0px;">
                    N° SIRET : {COMPANY_SIRET} / Code APE : {COMPANY_CODE_APE}
                </p>
                <p style="margin: 0px;">
                    N° de déclaration d’activité :
                    {COMPANY_ACTIVITY_DECLARATION_NUMBER}
                </p>
                <p style="margin: 0px;">Auprès de la Préfecture du Nord</p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;margin-top: 10px;"
>
    <tbody>
        <tr>
            <td
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;"
            >
                <p style="font-size:16px;">
                    <strong>CONVENTION DE FORMATION PROFESSIONNELLE</strong>
                </p>
                <p style="font-size:10px;">
                    <strong
                        >(CONFORMEMENT AUX DISPOSITIONS DES ARTICLES L6353-1 ET
                        2 AINSI QUE R6353-1 DU CODE DU TRAVAIL)</strong
                    >
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;margin-top: 5px;margin-bottom: 5px;"
>
    <tbody>
        <tr>
            <td
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:16px;text-align: center;"
            >
                <strong>N° : {AGREEMENT_NUMBER}</strong>
            </td>
        </tr>
    </tbody>
</table>

<table
    style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p>Entre les soussignés :</p>
                <p style="text-align: justify;">
                    Le Centre Régional de Formation des Professionnels de
                    l’Enfance, association loi 1901, dont le siège est situé au
                    465 rue Courtois 59042LILLE Cedex, représentée par son
                    Directeur, Sylvain PEYRATOUT
                </p>
                <p style="text-align: center;">
                    Et désigné ci-après «<strong>
                        l’organisme de formation </strong
                    >» ou « <strong>le CRFPE</strong> »
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table
    style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p>Et :</p>
                <p><strong>{ENTITY_NAME}</strong></p>
                <p><strong>{ENTITY_ADDRESS_LINE1}</strong></p>
                <p><strong>{ENTITY_ADDRESS_LINE2}</strong></p>
                <p><strong>{ENTITY_POSTAL_CODE} {ENTITY_CITY}</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p>Représenté par : {CONTACT_NAME}, {CONTACT_FUNCTION}</p>
                <p>Ci-après désigné « <strong>le bénéficiaire</strong> »</p>
                <p>D’autre part</p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p>
                    <strong
                        >Collectivement désignés ci-après « les Parties
                        ».</strong
                    >
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align: justify;">
                    est conclue la convention suivante, en application des
                    dispositions générales de la partie 6 du Code du travail
                    portant organisation de la formation professionnelle
                    initiale et continue et des dispositions particulières de
                    l'article L.6353-1 et 2 concernant les actions de formation
                    professionnelle mentionnées à l'article L.63313-1 du code du
                    travail.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:16px;"
>
    <tbody>
        <tr>
            <td>
                <p style="text-align: center;text-decoration: underline;">
                    <strong
                        >La présente convention doit être retournée datée et
                        signée avant le début de la formation
                    </strong>
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">Article 1 : Objet</p>
                <p style="text-align: justify;">
                    A la demande du bénéficiaire, l'organisme de formation CRFPE
                    s'engage à assurer l'organisation et l'animation du stage de
                    formation intitulé (le programme détaillé se trouve dans les
                    annexes à la présente) :
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
>
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p style="font-size:16px;"><strong>{AF_TITLE}</strong></p>
                <p style="font-size:15px;">
                    <strong>(Référence :{AF_CODE})</strong>
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="text-align: justify;">
                    La signature de la présente vaut acceptation sans réserve
                    des dispositions du règlement intérieur du centre de
                    formation. Le règlement Intérieur est affiché au sein des
                    locaux du CRFPE et pourra être adressé gratuitement sur
                    simple demande.
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 2: Nature et caractéristiques des actions de
                    formation
                </p>
                <p style="text-align: justify;">
                    L'action de formation envisagée par la présente entre dans
                    la catégorie des actions prévues par l'article L.6313-1 du
                    Code du travail (préformation et préparation à la vie
                    professionnelle - adaptation - promotion - prévention -
                    conservation - acquisition - entretien - perfectionnement
                    des connaissances).
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 3 : Dispositions pédagogiques
                </p>
                <p style="text-align: justify;">
                    Le contenu, le lieu, les dates, la durée de la formation, le
                    nombre des stagiaires, la qualité des intervenants et, plus
                    généralement, l'ensemble des moyens mis en oeuvre par
                    l'organisme de formation sont précisés dans l'annexe
                    pédagogique ayant valeur contractuelle qui est jointe à la
                    présente convention. Quand la formation se déroule dans les
                    locaux du CRFPE, celui-ci s'engage à contrôler la présence
                    effective des participants aux journées de formation et à
                    fournir le relevé de ces présences au bénéficiaire. A
                    l’issue de la formation, l'organisme de formation remet à
                    chacun des stagiaires une attestation de stage établi à
                    titre individuel. Cette attestation précisera notamment la
                    nature, les acquis et la durée de la session.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 4: Formations dans les locaux du CRFPE
                </p>
                <p style="text-align: justify;">
                    Pour les formations se déroulant dans les locaux du CRFPE,
                    le bénéficiaire s'engage à respecter et faire respecter aux
                    stagiaires l'ensemble des dispositions législatives et
                    réglementaires fixant les règles d'hygiène et de sécurité
                    applicables aux visiteurs séjournant dans les locaux du
                    CRFPE ainsi que les prescriptions du règlement intérieur du
                    CRFPE en matière d'hygiène et de sécurité (Article L6353-8
                    du code du travail) et des règles générales et permanentes
                    relatives à la discipline.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 5: Formations dans les locaux du client
                </p>
                <p style="text-align: justify;">
                    Le bénéficiaire doit mettre à disposition du formateur une
                    salle de formation qui respecte les normes d'hygiène et de
                    sécurité en vigueur au sein de l'établissement, et le
                    matériel éventuellement nécessaire au bon déroulement de la
                    session de formation. L'annexe pédagogique définit
                    éventuellement la liste de ce matériel et les
                    caractéristiques nécessaires de la salle où se déroulera la
                    formation.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 6: Dispositions financières
                </p>
                <p style="text-align: justify;">
                    Une annexe financière, jointe à la présente convention et
                    ayant valeur contractuelle, détermine le montant total qui
                    résulte de l'ensemble des prestations assurées par le CRFPE,
                    ainsi que les modalités de règlement afférentes. La
                    facturation des prestations est effectuée par le CRFPE
                    suivant les modalités prévues dans l'annexe financière. Le
                    bénéficiaire s'engage, sauf dispositions particulières
                    indiquées dans l'annexe financière, à mandater le paiement
                    du montant des prestations dès réception de la facture.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 7: Pénalités de retard
                </p>
                <p style="text-align: justify;">
                    Toute somme non payée à l'échéance donnera lieu au paiement
                    par le bénéficiaire de pénalités de retard fixées à trois
                    (3) fois le taux d'intérêt légal (L313-2 du code monétaire
                    et financier). Ces pénalités sont exigibles de plein droit.
                    En outre, tout retard de règlement donnera lieu au paiement
                    par le bénéficiaire d’une indemnité forfaitaire pour frais
                    de recouvrement d’un montant de 40 (quarante) euros. Si les
                    frais de recouvrement exposés sont supérieurs au montant de
                    cette indemnité forfaitaire, le CRFPE pourra demander une
                    indemnisation complémentaire, sur justificatifs.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">Article 8: Droit d'auteurs</p>
                <p style="text-align: justify;">
                    L'ensemble des documents remis au cours de la formation sont
                    des œuvres originales et à ce titre sont protégées par le
                    droit de la propriété intellectuelle. En conséquence, le
                    stagiaire s'interdit d'utiliser, copier, transmettre et
                    généralement d'exploiter tout ou partie de ces documents,
                    sans l'accord préalable et écrit d'un responsable autorisé
                    du CRFPE.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 9 : Communication et utilisation du logo du CRFPE
                </p>
                <p style="text-align: justify;">
                    L'usage du nom (ou des initiales) et du logo du CRFPE,
                    quelque soit le support de communication, devra faire
                    l'objet, au cas par cas, d'un accord écrit préalable de sa
                    part.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">Article 10: Dédit ou abandon</p>
                <p style="text-align: justify;">
                    A compter de la date de signature de la présente, les
                    parties signataires disposent d'un délai de 10 jours pour se
                    rétracter. Le bénéficiaire désirant se rétracter en informe
                    l'organisme de formation par lettre recommandée avec accusé
                    de réception. Dans ce cas, aucune somme ne peut être exigée
                    (article L.6353-5 du code du travail}. Passé ce délai de
                    rétractation, en cas de report du stage d'un commun accord
                    entre les parties ou de son annulation du fait du stagiaire
                    ou du bénéficiaire : Si l'annulation intervient dans un
                    délai supérieur à 10 jours ouvrés avant le début de l'action
                    de formation, le stage ne sera pas facturé. Cependant, le
                    CRFPE se réserve le droit de facturer au bénéficiaire les
                    dépenses qu’il a effectivement engagées en vue de la
                    réalisation de ladite action. Si l'annulation intervient
                    dans un délai inférieur à 10 jours ouvrés avant le début de
                    l'action de formation, le stage sera facturé dans son
                    intégralité. En cas de report du stage ou de son annulation
                    du fait du CRFPE, celui-ci devra proposer une nouvelle date
                    de formation dans le mois qui suit la date de la formation
                    annulée.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 11: Limitation de responsabilité
                </p>
                <p style="text-align: justify;">
                    La responsabilité du CRFPE ne peut être engagée que pour des
                    dommages directs résultant d'une faute prouvée. En tout état
                    de cause, en cas de mise en jeu de la responsabilité du
                    CRFPE dans le cadre de !'exécution d'une action de
                    formation, les parties conviennent que l'indemnité mise à la
                    charge du CRFPE ne pourra excéder la valeur de la prestation
                    objet du présent contrat.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
>
    <tbody>
        <tr>
            <td>
                <p style="font-style: italic;">
                    Article 12 : Différends éventuels
                </p>
                <p style="text-align: justify;">
                    A défaut de conciliation, la contestation sera portée devant
                    le Tribunal de Grande Instance de Lille. La présente
                    convention est soumise au droit français.
                </p>
            </td>
        </tr>
    </tbody>
</table>

<table>
    <tbody>
        <tr>
            <td
                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;"
            >
                Fait à Lille, le {DATE_NOW}, en double exemplaire
            </td>
        </tr>
    </tbody>
</table>

<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>
            <td style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
                <p>Pour le CRFPE, son directeur, Sylvain PEYRATOUT</p>
                <p>Signature et cachet</p>
                <p>
                    <img height="70px" src="{SIGNATURE_CACHET}" />
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>
            <td style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
                <p>Pour {ENTITY_NAME}, {CONTACT_NAME}, {CONTACT_FUNCTION}</p>
                <p>Signature et cachet</p>
            </td>
        </tr>
    </tbody>
</table>

<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;page-break-before: always;border: 1px solid black;">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p><strong>ANNEXE PEDAGOGIQUE</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>
            <td style="font-size:14px;text-align: center;">
                <p><strong>{AGREEMENT_NUMBER}</strong></p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Intitulé de la formation : {AF_TITLE}</p>
                <p>Référence de l’action de formation :{AF_CODE}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Objectifs de la formation :</p> 
                <p>{AF_OBJECTIFS}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Contenu de la formation : </p>
                <p>{AF_CONTENT}</p> 
            </td>
        <tr>  
            <td>
                <p>Modalités pédagogiques : </p>
                <p>{AF_MODALITE_PEDAGOGIQUES}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Modalités d’accès : </p>
                <p>{AF_MODALITE_ACCES}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Modalités d’évaluation : </p>
                <p>{AF_MODALITE_EVALUATION}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Moyens mis à disposition : </p>
                <p>{AF_MODALITE_MOYENS_DISPOSITION}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Pré-requis : </p>
                <p>{AF_PRE_REQUIS}</p>
                
            </td>
        </tr>
        <tr>  
            <td>
                <p>Profil des intervenants : </p>
                <p>{AF_PROFIL_INTERVENANTS}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Nombre maximal de participants : </p>
                <p>{AF_NB_MAX_PARTICIPANTS}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Durée de la formation : </p>
                <p>Formation théorique : {NB_THEO_DAYS} jours / {NB_THEO_HOURS} heures</p>
                <p>Formation pratique : {NB_PRACTICAL_DAYS} jours / {NB_PRACTICAL_HOURS} heures</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Dates et horaires, connus au moment de l’établissement de la présente convention : </p>
            </td>
        </tr>
    </tbody>
</table>

<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;border: 1px solid black;border-collapse: collapse;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid black;border-collapse: collapse;padding: 4px;"></th>
            <th colspan="2" style="border: 1px solid black;border-collapse: collapse;padding: 4px;">Séance 1</th>
            <th colspan="2" style="border: 1px solid black;border-collapse: collapse;padding: 4px;">Séance 2</th>
        </tr>    
        <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid black;border-collapse: collapse;padding: 4px;">Dates</th>
            <th style="border: 1px solid black;border-collapse: collapse;padding: 4px;">Début (h)</th>
            <th style="border: 1px solid black;border-collapse: collapse;padding: 4px;">Fin (h)</th>
            <th style="border: 1px solid black;border-collapse: collapse;padding: 4px;">Début (h)</th>
            <th style="border: 1px solid black;border-collapse: collapse;padding: 4px;">Fin (h)</th>
        </tr>
    </thead>
    <tbody>
        {HTML_AF_RECAP_SEANCES}
    </tbody>
</table>

<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
<tbody>
    <tr>  
        <td>
            <p>Lieu : </p>
            <p>{AF_LIEU_FORMATION}</p>
        </td>
    </tr>
    <tr>
        <p style="text-align: justify;">Si la formation se déroule dans les locaux du client, celui-ci doit mettre à la disposition une salle de formation équipée de tables et de chaises en nombre suffisant par rapport au nombre de stagiaires, équipée d’un support de présentation (de type tableau, paperboard).
            Au vue du contenu de la formation, le lieu de formation devra être équipé également de :</p>
    </tr>
</tbody>
</table>


<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;page-break-before: always;border: 1px solid black;">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p><strong>ANNEXE FINANCIERE</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>
            <td style="font-size:14px;text-align: center;">
                <p><strong>{AGREEMENT_NUMBER}</strong></p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Intitulé de la formation : {AF_TITLE}</p>
                <p>Référence de l’action de formation :{AF_CODE}</p>
                <p><strong>Coût de la formation : {TOTAL}</strong> euros, nets de taxes.</p>
                <p>Nos prestations ne sont pas soumises à la TVA, Article 261-7-1 du CGI.</p>
				<p>Stagiaire(s) :  {MEMBER_CONTACT}</p>
                <p>Stagiaire(s) :  {MEMBER_CONTACT}</p>
            </td>
        </tr>
        <tr>  
            <td>
                <p>Le tarif se décompose ainsi </p>
            </td>
        </tr>
    </tbody>
</table>
<table
    style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;border: 1px solid black;border-collapse: collapse;">
    <thead>
        <tr style="border:0.5px solid #000;background-color: #f2f2f2;">
            <th style="border:0.5px solid #000;border-collapse: collapse;padding: 4px;">DESIGNATION</th>
            <th style="border:0.5px solid #000;border-collapse: collapse;padding: 4px;">QUANTITE</th>
            <th style="border:0.5px solid #000;border-collapse: collapse;padding: 4px;">PRIX UNITAIRE</th>
            <th style="border:0.5px solid #000;border-collapse: collapse;padding: 4px;">TOTAL NET</th>
        </tr>
    </thead>
    <tbody>
        {HTML_ITEMS}
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>  
            <td>
                <p><strong>Echéances de règlement</strong></p>
                <p>La formation sera financée par :</p>
            </td>
        </tr>
        <tr>
            <td>
                {HTML_FINANCES}  
            </td>
        </tr>
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>  
            <td colspan="2">
                <p><strong>Modalités de paiement : Cocher la case adéquate</strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:10px;">
                <div style="border: 1px solid black;width:8px;height:8px;"></div>
            </td>  
            <td>
                <p>Vous réglez par chèque</p>
            </td>
        </tr>
        <tr>
            <td style="width:10px;">
                <div style="border: 1px solid black;width:8px;height:8px;"></div>
            </td>  
            <td>
                <p>Vous réglez par virement</p>
            </td>
        </tr>
        <tr>
            <td colspan="2"><p>Nos coordonnées bancaires</p></td>
        </tr>
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;border: 1px solid black;border-collapse: collapse;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid black;border-collapse: collapse;">Code banque</th>
            <th style="border: 1px solid black;border-collapse: collapse;">Code guichet</th>
            <th style="border: 1px solid black;border-collapse: collapse;">N° compte</th>
            <th style="border: 1px solid black;border-collapse: collapse;">Clé RIB</th>
        </tr>
    </thead>
    <tbody>
        <tr>  
            <td style="border: 1px solid black;border-collapse: collapse;text-align: center;">{COMPANY_BANK_CODE}</td>
            <td style="border: 1px solid black;border-collapse: collapse;text-align: center;">{COMPANY_BANK_GUICHET}</td>
            <td style="border: 1px solid black;border-collapse: collapse;text-align: center;">{COMPANY_BANK_ACCOUNT_NUMBER}</td>
            <td style="border: 1px solid black;border-collapse: collapse;text-align: center;">{COMPANY_BANK_KEY_RIB}</td>
        </tr>
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;border: 1px solid black;border-collapse: collapse;margin-top: 10px;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="border: 1px solid black;border-collapse: collapse;">IBAN</th>
            <th style="border: 1px solid black;border-collapse: collapse;">BIC – Code SWIFT</th>
        </tr>
    </thead>
    <tbody>
        <tr>  
            <td style="border: 1px solid black;border-collapse: collapse;text-align: center;">{COMPANY_BANK_IBAN}</td>
            <td style="border: 1px solid black;border-collapse: collapse;text-align: center;">{COMPANY_BANK_BIC}</td>
        </tr>
    </tbody>
</table>
<table style="width:16.8cm;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px;">
    <tbody>
        <tr>
            <td style="width:10px;">
                <div style="border: 1px solid black;width:8px;height:8px;"></div>
            </td>  
            <td>
                <p>C’est votre OPCO qui finance la formation</p>
            </td>
        </tr>    
        <tr>  
            <td colspan="2">
                    <p style="margin-left: 10px;">Nom de l’OPCO :</p>
                    <p style="margin-left: 10px;">Adresse de l’OPCO :</p>
            </td>
        </tr>
        <tr>
            <td colspan="2"><p style="text-align: justify;">Veuillez nous transmettre l’accord de prise en charge au plus vite en indiquant la référence <strong>{AGREEMENT_NUMBER}</strong>. Si nous ne l’avons pas reçu au moment de l’établissement de la facture, nous serons dans l’obligation de vous facturer.</p></td>
        </tr>
    </tbody>
</table>
















<!-- FOOTER -->
<table>
    <tbody>
        <tr>
            <td style="width:4cm;">
                <img width="280px" src="{LOGO_FOOTER}" />
            </td>
            <td style="width:9.4cm;">
                <p class="footer-text">{ADRESS_FOOTER}</p>
                <p class="footer-text">
                    Tél : {PHONE_FOOTER} • Fax : {FAX_FOOTER}
                </p>
                <p class="footer-text">{EMAIL_FOOTER} • {WEBSITE_FOOTER}</p>
                <p class="footer-text">Siret {SIRET_FOOTER}</p>
            </td>
        </tr>
    </tbody>
</table>
